<h1>Kitchens</h1>

<% @kitchens.each do |kitchen| %>
<div class="kitchen">
    <p><%= link_to kitchen.name, kitchen %></p>
</div>
<% end %>

<br />

<div class="clear">

<div class="btn btn-primary btn-mini">
<%= link_to 'Create a New Kitchen', new_kitchen_path %>
</div></div>
